<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About | pitch.ideas</title>

    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="icon" type="image/png" href="static/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="static/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="static/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="pitch.ideas" />
    <link rel="manifest" href="static/images/favicon/site.webmanifest" />

</head>
<body>

<nav class="navbar">
    <div class="container">
        <div class="nav-left">
            <a href="/">
                <img src="/static/images/logo.svg" alt="Pitch Ideas" class="logo">
            </a>
        </div>
        <div class="nav-center">

        </div>
        <div class="nav-right">
            
        </div>
    </div>
</nav>

<section class="hero">
    <div class="container">

        <h1>
            Pitch Your Startup.
            <span>Find Investors.</span>
        </h1>

        <p>
            Share your startup ideas, get feedback from founders,<br>
            and connect with investors looking for the next big thing.
        </p>

    </div>
</section>


<section class="content">
    <div class="container">
        <h2>About pitch.ideas</h2>

        <p>
            pitch.ideas is a student project created as part of a school assignment about founding and developing a startup.
            This website serves as a minimum viable product (MVP) to demonstrate  what such a platform could look like.
        </p>
        <br>
        <p>
            All startups, users, pitches, investments, and other content on this website are entirely fictional and exist for demonstration purposes only.
            No real investment, funding, or financial services are offered through this platform.
        </p>
        <br>
        <p>
            Although this project uses a database, it is intended solely for educational purposes.
            Data may be created, modified, or deleted at any time without notice, and should not be
            considered permanent or secure.
        </p>

        <h2>Here's a random image of one of our cats</h2>
        <div class="gallery">
            <img src="/cat" alt="Random cat image">
        </div>
    </div>
</section>

<footer>
    <div class="disclaimer">
        This is a student project. Content is fictional and for demonstration purposes only.
        No real investment, funding or user data handling is implied.
    </div>
    © 2026 Pitch Ideas
</footer>

</body>
</html>